
.hh1 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: white;
    padding-top: 10vw;
}
.hh1 h1{
    background-color: #00000099;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 40px;
    font-weight: 600;
    border-radius: 8px;

}
.hb {
    padding-top: 04vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 3vw;
}
.hb p{
    text-align: justify;
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 450;
}
@media (max-width: 850px) {
    .hh1{
        padding-top: 4vw;
    }
    .hh1 h1{
        font-size: 5vw;
    }
}