.footer {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}
.footertop h1{
    font-size: 24px;
    font-weight: 700;
    color: #676767;
    text-align: left;
}
.footertop {
    padding-bottom: 20px;
    padding-left: 120px;
}
.footerdown {
    display: flex;
    padding-bottom: 120px;
    padding-left: 120px;
}
.dhaka {
    padding-right: 50px;
}
.dhaka h2{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 700;
    color: #676767;
}
.dhaka p{
    color: #676767;
}
.rangpur h1{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 700;
    color: #676767;
}
.rangpur p{
    color: #676767;
}
.dev {
    background-color: #f1f1f1;
    justify-content: center;
    color: #676767;
    display: flex;
}
.dev a{
    text-align: center;
}
@media (max-width: 850px){
    .footerdown {
        display: flex;
        flex-direction: column;
    }
    .rangpur {
        padding-top: 30px;
    }
    .footertop {
        display: flex;
        justify-content: center;
        padding-left: 120px;
        padding-right: 120px;
    }
    .footerdown {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    .dhaka {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        padding: 0px;
    }
    .rangpur {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .footer {
        padding-top: 30px;
    }
}