.nav {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding-right: 5vw;
    padding-left: 5vw;
}
.navl img {
    width: 60px;
    height: 50px;
    align-items: center;
}
.navl {
    display: flex;
    padding-top: 11px;
    padding-bottom: 11px;
}
.h3dig {
    padding-left: 13px;
    padding-top: 5px;
    align-items: center;
}
.h3dig h3{
    color: red;
    line-height: 16px;
    font-weight: 780;
    font-size: 20px;
}
.h3dig h4 {
    line-height: auto;
    font-size: 20px;
    font-weight: 580;
}
.navr {
    display: flex;
    align-items: center;
}
.navr img{
    width: 35px;
    cursor: pointer;
}
.navr h4 {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 14px;
}
.navr h4:hover {
    color: #BA3232;
    border-bottom-width: 6px;
    padding-bottom: 25px;
    border-color: #BA3232;
    transition: 300ms;   
}
@media (max-width: 850px) {
    .navr h4 {
        font-size: 0px;
    }
    .h3dig h3{
        font-size: 0px;
    }
    .h3dig h4{
        font-size: 0px;
    }
}
  
@media (min-width: 850px) {
    .navr img {
        width: 0px;
    }
    .heroo h1{
        color: #BA3232;
    }
}
